# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# Migrations (optional keep or ignore)
**/migrations/*.py
!**/migrations/__init__.py

# Secrets
*.pem
*.key

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db